@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide {
  animation: fadeSlide 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}


.input-anim:focus {
  box-shadow: 0 0 0 3px rgba(0, 74, 173, 0.25);
  transition: box-shadow 0.2s ease;
}

input:focus {
  outline: none !important;
}

.fade-slide-delay {
  animation: fadeSlide 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 0.15s; /* El logo aparece un poquito antes */
}

